.h-font{
	padding-top: 22px;
}

#About, #Contact, #Kategori{
	padding-top: 22px;
}

#content{
	padding-top: 15%;
	text-align: center;
	line-height: normal;
}

#content h5{
	font-size: 20px;
}

#content h1{
	font-size: 50px;
}

#content p{
	font-size: 15px;
}

/* Categories styling */
.category-tile { 
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	margin: 0 auto 15px;
}
.category-tile span {
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
  }
.category-tile:hover {
	box-shadow: 0 5px 10px 5px #000000;
}
a{
	color : black;
	text-decoration-line: none !important;
}

/* End of Categories */