<%- include("partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h3>Selamat Datang Di</h3>
			<h1><strong>TokoSampah</strong></h1>
			<p>Toko yang merupakan gabungan online shop dan bank sampah dengan tujuan untuk membantu sebanyak mungkin masyarakat</p>
			<p>
				<a class="btn btn-success btn-lg" href="/katalog">Katalog</a>
			</p>	
		</div>
	</header>
</div>




<%- include("partials/footer") %>