<link rel="stylesheet" href="styles2.css">

<%- include("partials/header") %>

<div class="container"> <!-- Catalogs -->
    <section class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a style="text-decoration:none" href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/Celengan-Dari-Botol-Plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Celengan Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/dompet-koin-plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Dompet Koin Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/motor-plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Motor Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/payung-plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Payung Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/pot-plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Pot Gantung Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/sendal-rumah-plastik copy.JPG" alt="Lunch">
					<div class="item-descriptions">
						<p>Sendal Rumah Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/tas-dari-sampah-plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Lunch Bag Plastik</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="images/tas-plastik-2 copy.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Tas Plastik</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<a href="#">
				<div class="category-tile">
					<img width="200" height="200" src="images/tas-sampah-plastik copy.jpg" alt="Lunch">
					<div class="item-descriptions">
						<p>Tas Plastik 2</p>
						<div class="harga">Place Holder Harga</div>
						<div class="lokasi">Lokasi</div>
						<div class="rating">Rating</div>
					</div>
				</div>
			</a>
			</div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="images/tempat-pensil copy.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Tempat Pensil Plastik</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="images/tong-sampah-plastik copy.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Tong Sampah Plastik</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="images/bunga-plastik copy.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Bunga Plastik</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="images/tanaman-plastik copy.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Tanaman Plastik</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="images/sendal-indomie copy.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Sendal Indomie</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
		
    </section>
</div> <!-- End of Catalogs-->

<%- include("partials/footer") %>