<link rel="stylesheet" href="styles3.css">

<%- include("./partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Login</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/login" method="POST">
				<div class="form-group">
					<input class="form-control" name="username" type="text" placeholder="Username" required>
				</div>
				<div class="form-group">
					<input class="form-control" name="password" type="password" placeholder="Password" required>
				</div>
				<div class="form-group">
					<button class="btn btn-md btn-success btn-block">Login!</button>
				</div>
			</form>
			<a href="/">Go Back</a>
		</div>
	</div>
</div>
<%- include("partials/footer") %>