<link rel="stylesheet" href="styles2.css">

<%- include("partials/header") %>

<div class="container"> <!-- Catalogs -->
    <section class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a style="text-decoration:none" href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Deskripsi Barang</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        <a href="#">
            <div class="category-tile">
                <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                <div class="item-descriptions">
                    <p>Deskripsi Barang</p>
                    <div class="harga">Place Holder Harga</div>
                    <div class="lokasi">Lokasi</div>
                    <div class="rating">Rating</div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Deskripsi Barang</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="#">
                <div class="category-tile">
                    <img width="200" height="200" src="img/gary.jpg" alt="Lunch">
                    <div class="item-descriptions">
                        <p>Deskripsi Barang</p>
                        <div class="harga">Place Holder Harga</div>
                        <div class="lokasi">Lokasi</div>
                        <div class="rating">Rating</div>
                    </div>
                </div>
            </a>
            </div>
        
    </section>
</div> <!-- End of Catalogs-->

<%- include("partials/footer") %>