<style>
    .footer {background: #303036;height:300px;position:relative;top:300px;}
	.footer .footer-bottom {background:black;height:45px;color:white;position:absolute;bottom:0px;left:0px;text-align:center;padding-top:14px;width:100%;}
	.footer .footer-content {height:255px;display:flex;}
	.footer .footer-content .footer-section {flex:1;color:white;padding-left:25px}
	.fa {font-size: 30px;padding:10px;text-align: center;text-decoration: none;margin-right:10px;margin-bottom:5px;width:35px}
	.fa:hover {opacity: 0.7;}
	.fa-facebook {background: #3B5998;color: white;}
	.fa-twitter {background: #55ACEE;color: white;}
	.fa-instagram {background: #8a3ab9;color: white;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-wrapper"></div>
<div class="footer">
    <div class="footer-content">
        <div class="footer-section smedia">
			<h1>Developer Contact</h1>
			<p><a href="#" class="fa fa-facebook"></a>AphostopyITB</p>
			<p><a href="#" class="fa fa-twitter"></a>AphoITB</p>
			<p><a href="#" class="fa fa-instagram"></a>AphosITB</p>
		</div>
        <div class="footer-section links">
			<img src="./tokoSampah/images/recycle.png" alt="recycle">
		</div>
        <div class="footer-section contact-form"></div>
    </div>
    <div class="footer-bottom">
        &copy; Aphostropy 2020
    </div>
</div>
