<style>
    .footer {background: #303036;height:300px;position:relative;top:300px;}
	.footer .footer-bottom {background:black;height:45px;color:white;position:absolute;bottom:0px;left:0px;text-align:center;padding-top:14px;width:100%;}
	.footer .footer-content {height:255px;display:flex;}
	.footer .footer-content .footer-section {flex:1;color:white;padding-left:25px;}
	.fa {font-size: 30px;padding:10px;text-align: center;text-decoration: none;margin-right:10px;margin-bottom:5px;width:35px}
	.fa:hover {opacity: 0.7;}
	.fa-facebook {background: #3B5998;color: white;}
	.fa-twitter {background: #55ACEE;color: white;}
	.fa-instagram {background: #8a3ab9;color: white;}
	.fa-phone {background: greenyellow;color:white;}
	.fa-envelope {background: white; color: black;}
	.fa-map {background: red;color:white}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-wrapper"></div>
<div class="footer">
    <div class="footer-content">
        <div class="footer-section smedia">
			<h1>Social Media</h1>
			<p><a class="fa fa-facebook"></a>MilestoneHMIF</p>
			<p><a class="fa fa-twitter"></a>MilesHMIF</p>
			<p><a class="fa fa-instagram"></a>MilestoneHMIFITB</p>
		</div>
        <div class="footer-section links";>
			<h1>Contact Us</h1>
			<p><a class="fa fa-phone"></a>012345678910</p>
			<p><a class="fa fa-envelope"></a>MilestoneHMIF@dummy.com</p>
			<p><a class="fa fa-map"></a>Jl. Ganesha No.10, Lb. Siliwangi, Bandung, Jawa Barat 40132</p>
		</div>
        <div class="footer-section contact-form"><img src="../images/maps.PNG" alt="maps.PNG" style="margin-left:100px;margin-top:15px;border:6px solid rgb(161, 248, 161);"></div>
    </div>
    <div class="footer-bottom">
        &copy; Milestone 2020
    </div>
</div>
